@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

// Add ellipsis when text overflow.
@mixin ellipsis($clamp: 1, $line-height: null, $width: null) {
  @if $width {
    max-width: $width;
  }
  @else {
    max-width: 100%;
  }
  overflow: hidden;
  text-overflow: ellipsis;

  @if $clamp == 1 {
    word-wrap: normal;
    white-space: nowrap;
  }
  @else if $clamp > 1 {
    display: -webkit-box;
    @if $line-height {
      max-height: $line-height * $clamp;
      line-height: $line-height;
    }
    word-wrap: break-word;
    white-space: normal;
    -webkit-line-clamp: $clamp;
    -webkit-box-orient: vertical;
  }
}

@mixin ellipsis2 () {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

// 边距、间距工具类生成
@mixin spacing-gen ($spacers, $direction) {
  @each $prop, $abbrev in (margin: m, padding: p) {
    // 消除间距，.m0, .p0
    .#{$abbrev}0 {
      #{$prop}: 0px !important;
    }

    @each $size in $spacers {
      // 不带方向的间距，如 .p1, .p2, .p3 ...; .m1, .m2, .m3 ...
      .#{$abbrev}#{$size} {
        #{$prop}: $size + px !important;
      }

      @each $dir-abbrev, $dir in $direction {
        // 带方向的间距，如 .pt1, .pr1, .pt2 ...; .mt1, .mr1, .mt2 ...
        .#{$abbrev}#{$dir-abbrev}#{$size} {
          #{$prop}-#{$dir}: $size + px !important;
        }
      }
    }
  }
}

@mixin width-gen ($size) {
  @each $s in $size {
    .w#{$s} {
      width: $s + px;
    }
  }
}

@mixin background-cover ($width, $height: $width) {
  width: $width;
  height: $height;
  background-size: cover;
  background: no-repeat center center;
}
