@font-face {
  font-family: 'font_family';  /* project id 893796 */
  src: url('//at.alicdn.com/t/font_893796_miki2qr8ir.eot');
  src: url('//at.alicdn.com/t/font_893796_miki2qr8ir.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_893796_miki2qr8ir.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_893796_miki2qr8ir.woff') format('woff'),
  url('//at.alicdn.com/t/font_893796_miki2qr8ir.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_893796_miki2qr8ir.svg#font_family') format('svg');
}

.icon {
  font-family: "font_family" !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiao:before {
  content: "\e639";
}

.icon-wenzhang:before {
  content: "\e643";
}

.icon-search:before {
  content: "\e657";
}

.icon-shipping-bag:before {
  content: "\e654";
}

.icon-user-tie:before {
  content: "\e655";
}

.icon-crown:before {
  content: "\e656";
}

.icon-home:before {
  content: "\e658";
}

.icon-gear:before {
  content: "\e659";
}

.icon-minapp:before {
  content: "\e65a";
}

.icon-user-card:before {
  content: "\e65b";
}

.icon-order:before {
  content: "\e65c";
}

.icon-wallet:before {
  content: "\e65d";
}

.icon-user:before {
  content: "\e65e";
}

.icon-comment:before {
  content: "\e65f";
}

.icon-lock:before {
  content: "\e660";
}

.icon-goods-import:before {
  content: "\e661";
}

.icon-circle:before {
  content: "\e662";
}

.icon-plus:before {
  content: "\e663";
}

.icon-dot-circle:before {
  content: "\e664";
}

.icon-download:before {
  content: "\e665";
}

.icon-calandar:before {
  content: "\e666";
}

.icon-square-o:before {
  content: "\e667";
}

.icon-check-square:before {
  content: "\e668";
}

.icon-caret:before {
  content: "\e669";
}

.icon-plus-thick:before {
  content: "\e66a";
}

.icon-arrow-alt-up:before {
  content: "\e66b";
}

.icon-arrow-alt-down:before {
  content: "\e66c";
}

.icon-ellipsis-v:before {
  content: "\e66d";
}

.icon-photo:before {
  content: "\e66e";
}

.icon-manjiansong:before {
  content: "\e69f";
}

.icon-youhuiquan:before {
  content: "\e6a0";
}

.icon-mendian:before {
  content: "\e6a1";
}

.icon-pingjiawuxing:before {
  content: "\e6ab";
}

.icon-renwu:before {
  content: "\e6ad";
}
